---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact"
	description="Get in touch with Hyoje"
	pubDate={new Date()}
>
	<p>Feel free to get in touch through any of the channels below.</p>

	<table>
		<tbody>
			<tr>
				<td>Name</td>
				<td>Hyoje Choi (he/him)</td>
			</tr>
			<tr>
				<td>Timezone</td>
				<td>Europe/London</td>
			</tr>
			<tr>
				<td>Email</td>
				<td><a href="mailto:hyoje.choi@gmail.com">hyoje.choi@gmail.com</a></td>
			</tr>
			<tr>
				<td>KakaoTalk</td>
				<td>nullpitch</td>
			</tr>
			<tr>
				<td>WhatsApp</td>
				<td>Available on request via email</td>
			</tr>
		</tbody>
	</table>
</Layout>